// Content Styles

.h-content {
    position: relative;
}

.h-col-1,
.h-col-2,
.h-col-3  {
    position: relative;
}
.h-col-1 p,
.h-col-2 p,
.h-col-3 p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 2em;
}

.h-content img:hover {
    opacity: 0.5;
    transition: .5s;
}

