// Footer Styles
footer {
    padding-top: 150px;
}
.footer-info {
    padding-left: 20px;
}

.footer-hours {
    padding-top: 30px;
    padding-left: 20px;
}

.telephone {
    padding-top: 16px;
}

.socialmedia {
    padding-top: 16px;
    img {
        width: 30px;
        cursor: pointer;
        padding-right: 8px;
    }

}
