// Header Styles

.top-bar {
    max-width: 1240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px;
    margin: auto;
}
.logo img {
    width: 120px;
}
