// Reservation Styles


.about-form {
    padding: 0 20px;
    font-size: 1.2em;
    border: solid 2px $text-color;
    width: 350px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.name {
    line-height: 2em;
    margin-top: 20px;
    text-align: center;
    color: $text-color;
}

.name input {
    width: 300px;
    height: 20px;
}

input[value] {
    color: $text-color;
}

input[radio] {
    color: $text-color;
}

.about-radio {
    color: $text-color;
    line-height: 1.7em;
}

.about-checkbox {
    color: $text-color;
}

.about-form p {
    text-align: center;
}

.submit-button {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.submit-button input {
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 25px;
    border: solid 2px $text-color;
}
.about-time select {
    width: 300px;
    height: 30px;
}

@media (min-width: 750px){
    .about-form {
        width: 500px;
        font-size: 1.6em;
    }
}