// Wrapper Styles

// Wrapper Home

.wrapper-home {
    margin: auto;
    max-width: 1240px;
}

.intro {
    padding: 20px 20px 0;
}

.outro {
    padding: 10px 20px;
}

@media (min-width: 750px) {
    .intro,
    .outro {
        text-align: center;
    }

}

@media (min-width: 1000px) {
    
}
// Wrapper Menu

hr {
   border: solid 1px $text-color;
}

.wrapper-menu {
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 30px;
}
.menu-h2, .appetizer h2, .main h2, .liquor h2 {
    text-align: center;
}

.menu-h2 {
    max-width: 1240px;
    margin: 0 auto;
}
.line-01 {
    padding: 0 50px;  
}

.line-02 {
    padding: 0 80px;
    color: $text-color;
}

.menu-item {
    display: flex;
    flex-direction: column;
    line-height: 1.7em;
}

.appetizer,
.main,
.liquor {
    margin-top: 50px;
}

.appetizer-col,
.main-col,
.liquor-col {
    margin-top: 50px;
}

.appetizer-col li, 
.main-col li, 
.liquor-col li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.appetizer-col ul, 
.main-col ul, 
.liquor-col ul {
    max-width: 500px;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
}

.appetizer-col, 
.main-col, 
.liquor-col {
    padding: 0 20px;
}

// Wrapper About

.about-drawing {
    margin: 30px auto 0;
    width: 300px;
}

.about-text {
    color: $text-color;
}


